@media screen and (max-width: 420px) {

  .container:nth-child(odd) > .row {
    background-color: #f2f2cd;
    margin-top: 0;
    transition: background-color 3s linear;
  }

  .container:nth-child(1) > .row, .container:nth-child(2) > .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right,
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 50px;
    width: 100%;
  }
  .container h1, h3 {
    margin: 0;
  }

  #why .row img {
  height: 150px;
  }

  .row {
    font-size: 1.8em;
    font-weight: 500;
    padding: 20px 0;
  }

  hr {
    display: none;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
  border-bottom: 2px solid black;
  }
}

/* ipad */
@media screen and (min-width: 421px) and (max-width: 820px) {

  .container:nth-child(odd) > .row {
    background-color: #ffccff;
    margin-top: 0;
    transition: background-color 3s linear;
  }

  .container:nth-child(even) {
    width: 970px;
    border: 10px ridge rgba(170, 50, 220, .6);
    transition: border 3s linear;
  }

  img {
    transition: all 1s linear;
  }

  img:hover {
    transform: rotate3d(0, 1, 0, 1turn);
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: calc((100% / 2) - 40px);
    margin: 10px;
  }

  #steps .row >.right{
    width: 100%;
  }

  .container:nth-child(2) > .row{
    margin: 0;
  }

  .container h1, h3 {
    margin: 0;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    float: left;
    width: 33%;
    margin-top: 30px;
  }

  #why .row img {
    height: 120px;
  }

  .row {
    font-size: 1.1em;
    font-weight: 500;
    padding: 20px 0;
  }

  hr {
    display: none;
  }
}
